# === Node ===
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.env
.env.*.local

# === Build Output ===
dist/
build/
.cache/
.next/
out/

# === OS-specific ===
.DS_Store
Thumbs.db

# === TypeScript ===
*.tsbuildinfo

# === Logs ===
logs
*.log

# === Misc ===
coverage/
.idea/
.vscode/
*.swp
